/* font import */

.smaller-image {
    width: 200px; 
}


.hero {
    background: url(../images/home-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.hero-title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 250px;
    color: white;
    font-size: 45px;
}