/* Logo with link to home */
.smaller-image {
    width: 120px; 
}

/* Home page hero image */
.hero {
    background: url(../images/home-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    width: 100%;
    margin-top: 100px;
}

/* Home page hero image title */
.hero-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    padding-top: 250px;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

/* Intro Paragraph heading */
.intro {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 55px;
    font-size: 40px;
    font-weight: bold;
}

/* Intro paragraph background */
.hello{
    background: #f4f5f9;;
}

/* Intro paragraph text */

.hello p {
    font-size: 25px;
    text-align: center;
    margin-top: 55px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: grey;
    margin-left: 20px;
    margin-right: 20px;
}